/* ELODIE 2017 */ 
@charset "UTF-8";
.fancybox-enabled {
    overflow: hidden
}

.fancybox-enabled body {
    overflow: visible;
    height: 100%
}

.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99993;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.fancybox-container~.fancybox-container {
    z-index: 99992
}

.fancybox-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0f0f11;
    opacity: 0;
    transition-timing-function: cubic-bezier(.55, .06, .68, .19);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.fancybox-container--ready .fancybox-bg {
    opacity: .87;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1)
}

.fancybox-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    z-index: 99994;
    transition: opacity .2s;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    direction: ltr
}

.fancybox-show-controls .fancybox-controls {
    opacity: 1
}

.fancybox-infobar {
    display: none
}

.fancybox-show-infobar .fancybox-infobar {
    display: inline-block;
    pointer-events: all
}

.fancybox-infobar__body {
    display: inline-block;
    width: 70px;
    line-height: 44px;
    font-size: 13px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ddd;
    background-color: rgba(30, 30, 30, .7);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased
}

.fancybox-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    pointer-events: all
}

.fancybox-show-buttons .fancybox-buttons {
    display: block
}

.fancybox-slider-wrap {
    overflow: hidden;
    direction: ltr
}

.fancybox-slider,
.fancybox-slider-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 99993;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent
}

.fancybox-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: none;
    white-space: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 99994;
    -webkit-overflow-scrolling: touch
}

.fancybox-slide:before {
    content: "";
    height: 100%;
    width: 0
}

.fancybox-slide:before,
.fancybox-slide>* {
    display: inline-block;
    vertical-align: middle
}

.fancybox-slide>* {
    position: relative;
    padding: 24px;
    margin: 44px 0;
    border-width: 0;
    text-align: left;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box
}

.fancybox-slide--image {
    overflow: hidden
}

.fancybox-slide--image:before {
    display: none
}

.fancybox-content {
    display: inline-block;
    position: relative;
    margin: 44px auto;
    padding: 0;
    border: 0;
    width: 80%;
    height: calc(100% - 88px);
    vertical-align: middle;
    line-height: normal;
    text-align: left;
    white-space: normal;
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch
}

.fancybox-iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe {
    background: transparent
}

.fancybox-placeholder {
    z-index: 99995;
    background: transparent;
    cursor: default;
    overflow: visible;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.fancybox-image,
.fancybox-placeholder,
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0
}

.fancybox-image,
.fancybox-spaceball {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    background: transparent;
    background-size: 100% 100%
}

.fancybox-controls--canzoomOut .fancybox-placeholder {
    cursor: zoom-out
}

.fancybox-controls--canzoomIn .fancybox-placeholder {
    cursor: zoom-in
}

.fancybox-controls--canGrab .fancybox-placeholder {
    cursor: -webkit-grab;
    cursor: grab
}

.fancybox-controls--isGrabbing .fancybox-placeholder {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.fancybox-spaceball {
    z-index: 1
}

.fancybox-tmp {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden
}

.fancybox-error {
    position: absolute;
    margin: 0;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 380px;
    max-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    cursor: default
}

.fancybox-error p {
    margin: 0;
    padding: 0;
    color: #444;
    font: 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif
}

.fancybox-close-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
    z-index: 10;
    cursor: pointer
}

.fancybox-close-small:after {
    content: "Ã—";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    background: #fff;
    transition: background .2s;
    box-sizing: border-box;
    z-index: 2
}

.fancybox-close-small:focus:after {
    outline: 1px dotted #888
}

.fancybox-slide--video .fancybox-close-small {
    top: -36px;
    right: -36px;
    background: transparent
}

.fancybox-close-small:hover:after {
    color: #555;
    background: #eee
}

.fancybox-caption-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 30px 0;
    z-index: 99998;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8));
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none
}

.fancybox-show-caption .fancybox-caption-wrap {
    opacity: 1
}

.fancybox-caption {
    padding: 30px 0;
    border-top: 1px solid hsla(0, 0%, 100%, .4);
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 20px;
    -webkit-text-size-adjust: none
}

.fancybox-caption a,
.fancybox-caption button {
    pointer-events: all
}

.fancybox-caption a {
    color: #fff;
    text-decoration: underline
}

.fancybox-button {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    outline: none
}

.fancybox-button--disabled {
    cursor: default;
    pointer-events: none
}

.fancybox-button,
.fancybox-infobar__body {
    background: rgba(30, 30, 30, .6)
}

.fancybox-button:hover {
    background: rgba(0, 0, 0, .8)
}

.fancybox-button:after,
.fancybox-button:before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-color: #fff;
    background-color: currentColor;
    color: currentColor;
    opacity: .9;
    box-sizing: border-box;
    display: inline-block
}

.fancybox-button--disabled:after,
.fancybox-button--disabled:before {
    opacity: .5
}

.fancybox-button--left:after {
    left: 20px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.fancybox-button--left:after,
.fancybox-button--right:after {
    top: 18px;
    width: 6px;
    height: 6px;
    background: transparent;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor
}

.fancybox-button--right:after {
    right: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.fancybox-button--left {
    border-bottom-left-radius: 5px
}

.fancybox-button--right {
    border-bottom-right-radius: 5px
}

.fancybox-button--close {
    float: right
}

.fancybox-button--close:after,
.fancybox-button--close:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 16px;
    top: calc(50% - 1px);
    left: calc(50% - 8px)
}

.fancybox-button--close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.fancybox-button--close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.fancybox-loading {
    border: 6px solid hsla(0, 0%, 39%, .4);
    border-top: 6px solid hsla(0, 0%, 100%, .6);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: a .8s infinite linear;
    animation: a .8s infinite linear;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99999
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@media (max-width:800px) {
    .fancybox-controls {
        text-align: left
    }
    .fancybox-button--left,
    .fancybox-button--right,
    .fancybox-buttons button:not(.fancybox-button--close) {
        display: none!important
    }
    .fancybox-caption {
        padding: 20px 0;
        margin: 0
    }
}

.fancybox-button--fullscreen:before {
    width: 15px;
    height: 11px;
    left: 15px;
    top: 16px;
    border: 2px solid;
    background: none
}

.fancybox-button--play:before {
    top: 16px;
    left: 18px;
    width: 0;
    height: 0;
    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-left: 10px solid;
    border-radius: 1px;
    background: transparent
}

.fancybox-button--pause:before {
    top: 16px;
    left: 18px;
    width: 7px;
    height: 11px;
    border-style: solid;
    border-width: 0 2px;
    background: transparent
}

.fancybox-button--thumbs span {
    font-size: 23px
}

.fancybox-button--thumbs:before {
    top: 20px;
    left: 21px;
    width: 3px;
    height: 3px;
    box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, inset 0 0 0 32px, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0
}

.fancybox-container--thumbs .fancybox-caption-wrap,
.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap {
    right: 220px
}

.fancybox-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 220px;
    margin: 0;
    padding: 5px 5px 0 0;
    background: #fff;
    z-index: 99993;
    word-break: normal;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box
}

.fancybox-thumbs>ul {
    list-style: none;
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0
}

.fancybox-thumbs>ul>li {
    float: left;
    overflow: hidden;
    max-width: 50%;
    padding: 0;
    margin: 0;
    width: 105px;
    height: 75px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 5px solid #fff;
    border-top-width: 0;
    border-right-width: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box
}

li.fancybox-thumbs-loading {
    background: rgba(0, 0, 0, .1)
}

.fancybox-thumbs>ul>li>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fancybox-thumbs>ul>li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    border: 4px solid #4ea7f9;
    z-index: 99991;
    opacity: 0;
    transition: all .2s cubic-bezier(.25, .46, .45, .94)
}

.fancybox-thumbs>ul>li.fancybox-thumbs-active:before {
    opacity: 1
}

@media (max-width:800px) {
    .fancybox-thumbs {
        display: none!important
    }
    .fancybox-container--thumbs .fancybox-caption-wrap,
    .fancybox-container--thumbs .fancybox-controls,
    .fancybox-container--thumbs .fancybox-slider-wrap {
        right: 0
    }
}




  /*

    Advanced example - Customized layout

  */
.fancybox-button, .fancybox-infobar__body {background: black !important; min-height: 53px !important;line-height: 53px !important;}
.caption-bottom-lb{position: relative;z-index: 999999}

@media screen and (min-width:  768px) {
  .fancybox-button, .fancybox-infobar__body {
    background: #323233 !important;
  }
}
.fancybox-infobar {background: black !important; min-height: 53px !important;/* display: none!important */}

.fancybox-bottom-lb {
  display: none;
}



@media screen and (min-width:  768px) {
  .fancybox-infobar {
    display: none!important;
  }
  .fancybox-bottom-lb {
    display: block;
    position: absolute;
    /*background: gray;*/
    width: calc(100% - 320px);
    height: 110px;
    top: 0px;
    right: 364px;
    padding: 10px 0;
  }
}
.fancybox-caption{
  border: none !important;
}
.fancybox-caption strong, .fancybox-caption b{
  font-weight: 500;
}
.fancybox-caption-wrap{
  pointer-events: auto;
}
.fancybox-caption-wrap .logo-mcdesktop{
   margin: 15px 15px 0px 15px;
   display:none;
}
@media screen and (min-width:  768px) {
  .fancybox-caption-wrap .logo-mcdesktop{
     margin: 5px auto;
     display: block;
     max-width: 80%;
  }
}
.fancybox-controls{
  min-height: 53px !important;
  background: black !important;
}
@media screen and (min-width:  768px) {
  .fancybox-controls{
    background: #323233 !important;
}
.logo-mcmobile{
  display:block;
  position: absolute;
  left: 50%;
  top:0px;
  transform: translateX(-50%);
  width: 28% !important;
}
@media screen and (min-width:  768px) {
  .logo-mcmobile{
     display: none;
  }
}
.caption-bottom{
  /* max-height: 300px; */
   margin-top: 20px;
}
.caption-top{
  overflow-y: auto;
  display: block;
  width: 100%;
  position: relative;
}
@media screen and (max-width:  767px) {
  .caption-top{
    background: rgba(0,0,0,1);
    width: 100%;
  }
}
.fancybox-caption{
  
}
  @media all and (min-width: 800px) {

    .fancybox-container {
      /* border: 20px solid #c7bfbf; */
    }

    .fancybox-container .fancybox-bg,
    .fancybox-container.fancybox-container--ready .fancybox-bg {
      background: #efefef;
      opacity: 1;
    }

    .fancybox-container .fancybox-controls {
      opacity: 1;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      bottom: 0;
      width: 44px;
      background: #5E4950;
    }

    .fancybox-container .fancybox-button {
      background: transparent;
    }

    .fancybox-container .fancybox-buttons button:hover {
      background: rgba(20, 20, 20, 0.4);
    }

    .fancybox-container .fancybox-caption-wrap {
      top: 0;
      right: 44px;
      bottom: 0;
      left: auto;
      width: 320px;
      padding: 0;
      box-shadow: none;
      background: black;
      font-weight: bold;


      /* Disable transitions */
      opacity: 1;
      visibility: visible;
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
    }

    .fancybox-container .fancybox-caption {
      border: 0;
      padding: 5px 15px;
      color: #fff;
    }

    .fancybox-container .fancybox-slider-wrap {
      right: 364px;
      top: 130px;
    }

    .fancybox-container.fancybox-container--thumbs .fancybox-controls {
      right: 220px;
    }

    .fancybox-container.fancybox-container--thumbs .fancybox-slider-wrap {
      right: 514px;
    }

    .fancybox-container.fancybox-container--thumbs .fancybox-caption-wrap {
      right: 264px;
    }

    .fancybox-container .fancybox-thumbs {
      top: 0;
      bottom: 0;
      background: #c7bfbf;
    }

    .fancybox-container .fancybox-thumbs > ul > li {
      border-color: #c7bfbf;
    }

    /* Border around active element */
    .fancybox-container .fancybox-thumbs > ul > li::before {
      border-color: #FF6666
    }

  }


  /*

    Advanced example - Morphing modal window

  */

  .morphing-btn-wrap {
    text-align: center;
    display: inline-block;
    position: relative;
  }

  .morphing-btn {
    -webkit-transition: background 0.2s, color 0.2s 0.3s, width 0.2s 0s;
       -moz-transition: background 0.2s, color 0.2s 0.3s, width 0.2s 0s;
         -o-transition: background 0.2s, color 0.2s 0.3s, width 0.2s 0s;
            transition: background 0.2s, color 0.2s 0.3s, width 0.2s 0s;
    white-space: nowrap;
  }

  .morphing-btn_circle {
    color: transparent;
    padding-left: 0;
    padding-right: 0;
    width: 35.6px !important; /* Override inline style rule */
    -webkit-transition: color 0.2s 0s, width .3s 0.2s;
       -moz-transition: color 0.2s 0s, width .3s 0.2s;
         -o-transition: color 0.2s 0s, width .3s 0.2s;
            transition: color 0.2s 0s, width .3s 0.2s;
  }

  .morphing-btn-clone {
    position: fixed;
    background: #FF6666;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    z-index: 3;
    font-size: 0.875em;
    -webkit-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
       -moz-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
       -o-transition: all 0.5s cubic-bezier(.65,.05,.36,1);
        transition: all 0.5s cubic-bezier(.65,.05,.36,1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .morphing-btn-clone_visible {
    -webkit-transform : scale(1) !important;
    -moz-transform : scale(1)  !important;
    -ms-transform : scale(1) !important;
    -o-transform : scale(1)  !important;
    transform : scale(1) !important;

  }

  .morphing-close {
    position: fixed;
    top: 5%;
    right: 5%;
    background: rgba(0,0,0,0.2);
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    overflow: hidden;
    transition: background-color 0.2s ease 0s, transform .2s ease-in-out;;
    z-index: 99993;
    cursor: pointer;
    outline: none;
  }

  .morphing-close:active {
    margin-top: -1px;
  }

  .morphing-close:before,
  .morphing-close:after {
    content: "";
    position: absolute;
    left: 12px;
    top: 24px;
    width: 26px;
    height: 1.5px;
    background: #fff;
  }

  .morphing-close:before {
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .morphing-close:after {
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /* Styling for element used in example */
  #morphing-content {
    margin: 0;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 6em 10vw;
    line-height: 2;
    z-index: 3;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  }

  #morphing-content a {
    color: #fff;
  }

  /*

    Advanced example - Confirm dialog

  */

  .my_dialog {
    max-width: 550px;
    padding: 50px !important;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
        transform: translate(30%) translateZ(600px) rotate(10deg);
  }

  .fancybox-slide--complete .my_dialog {
    opacity: 1;
    transform: translate(0%) translateZ(0) rotate(0deg);
  }

  /*

    Advanced example - Product quick view

  */

  .quick-view-container {
    background: rgba(10,10,10,0.85);
  }

  .quick-view-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-width: 980px;
    max-height: 650px;
  }

  .quick-view-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 57%;
    background: #fff;
  }

  .quick-view-carousel .fancybox-slider-wrap {
    bottom: 30px;
  }

  .quick-view-aside {
      position: absolute;
      top: 30px;
      right: 0;
      bottom: 30px;
      left: auto;
      width: 43%;
      padding: 50px 0 30px 0;
      background: #fff;
      color: #777;
  }

  .quick-view-aside::before, .quick-view-aside::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .quick-view-aside::before {
      width: 8px;
      background: #f4f4f4;
  }

  .quick-view-aside::after {
      width: 1px;
      background: #e9e9e9;
  }

  .quick-view-aside > div {
    height: 100%;
    overflow: auto;
    padding: 5vh 30px 0 30px;
    text-align: center;
  }

  .quick-view-aside > div > p {
    font-size: 90%;
  }

  .quick-view-close {
      position: absolute;
      top: 30px;
      right: 0;
      width: 44px;
      height: 44px;
      background: #F0F0F0;
      padding: 0;
      margin: 0;
      border: 0;
      cursor: pointer;
      font-family: Arial;
      font-size: 14px;
      color: #222;
      text-indent: -99999px;
    transition: all .2s;
  }

  .quick-view-close:hover {
    background: #e4e4e4;
  }

  .quick-view-close::before,
  .quick-view-close::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 22px;
    width: 1px;
    height: 18px;
    background-color: #222;
  }

  .quick-view-close:before {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .quick-view-close:after {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }


  .quick-view-bullets {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 99999;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .quick-view-bullets li {
    display: inline-block;
    vertical-align: top;
  }

  .quick-view-bullets li a {
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
  }

  .quick-view-bullets li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 99px;
    text-indent: -99999px;
    overflow: hidden;
    background: #d4d2d2;

  }

  .quick-view-bullets li.active a span {
    background: #FF6666;
  }

  /*
    // End of examples
  */

.addthis_gallery{
  padding: 0 8px;
}

@-webkit-keyframes animname {
  0% { }
  50% { }
  100% { } }

@keyframes animname {
  0% { }
  50% { }
  100% { } }

.hide{ display: none; }
#mygallery .jg-entry {
  z-index: 3;
  cursor: pointer; }
  #mygallery .jg-entry:hover {
    opacity: 1 !important; }
    #mygallery .jg-entry:hover .caption {
      display: none !important; }
    #mygallery .jg-entry:hover:before {
      opacity: .8; }
  #mygallery .jg-entry:before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/f1i-logo.svg") no-repeat !important;
    background-size: 500px 500px !important;
    background-position: -400px -140px !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    opacity: 0;
    z-index: 5; }

.masonry img:hover {
  opacity: 1 !important; }

.masonry div {
  margin-bottom: 0; }

.masonry .grid-item {
  z-index: 3;
  position: relative;
  cursor: pointer; }
  .masonry .grid-item .grid-number {
    position: absolute;
    top: 0;
    background: white !important;
    color: black;
    padding: 5px;
    font-size: 1.4rem;
    z-index: 2; }
  .masonry .grid-item a:hover {
    opacity: 1 !important; }
    .masonry .grid-item a:hover:before {
      opacity: .8; }
  .masonry .grid-item a:before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/f1i-logo.svg") no-repeat !important;
    background-size: 500px 500px !important;
    background-position: -400px -140px !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    opacity: 0;
    z-index: 5; }

.masonry .grid-sizer-, .masonry .grid-item- {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-, .masonry .grid-item- {
      width: -webkit-calc(50%);
      width: calc(50%); } }

.masonry .grid-sizer-1, .masonry .grid-item-1 {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-1, .masonry .grid-item-1 {
      width: -webkit-calc(100%);
      width: calc(100%); } }

.masonry .grid-sizer-2, .masonry .grid-item-2 {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-2, .masonry .grid-item-2 {
      width: -webkit-calc(25%);
      width: calc(25%); } }

.masonry .grid-sizer-3, .masonry .grid-item-3 {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-3, .masonry .grid-item-3 {
      width: -webkit-calc(33.33333%);
      width: calc(33.33333%); } }

.masonry .grid-sizer-4, .masonry .grid-item-4 {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-4, .masonry .grid-item-4 {
      width: -webkit-calc(25%);
      width: calc(25%); } }

.masonry .grid-sizer-5, .masonry .grid-item-5 {
  width: -webkit-calc(100%);
  width: calc(100%); }
  @media screen and (min-width: 768px) {
    .masonry .grid-sizer-5, .masonry .grid-item-5 {
      width: -webkit-calc(20%);
      width: calc(20%); } }

.masonry-legende {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif; }
  .masonry-legende b, .masonry-legende strong {
    font-weight: 500;
    margin-right: 5px; }

.gallery-first-image {
  position: relative; }
  .gallery-first-image a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; }
    .gallery-first-image a .number-pics {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      color: white;
      background: black;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 10px;
      text-align: center; }
      .gallery-first-image a .number-pics:before {
        content: 'Voir les photos';
        display: block; }
      .gallery-first-image a .number-pics:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/f1i-logo.svg") no-repeat !important;
        background-size: 500px 500px !important;
        background-position: -315px -75px !important;
        position: absolute;
        bottom: 0;
        right: 0; }

.swiper-main {
  position: relative;
  cursor: pointer; }
  .swiper-main .swiper-container {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 20px; }
    .swiper-main .swiper-container.swiper-container-shop {
      opacity: 1;
      position: absolute;
      z-index: 1; }
    .swiper-main .swiper-container .swiper-wrapper img {
      width: -webkit-calc(100% - 100px);
      width: calc(100% - 100px); }
    .swiper-main .swiper-container .swiper-slide .swiper-compteur {
      font-weight: 700;
      font-size: 1.8rem;
      margin-top: 10px;
      margin-bottom: 10px; }
    .swiper-main .swiper-container .swiper-slide .shop-button {
      text-align: center;
      position: relative; }
      .swiper-main .swiper-container .swiper-slide .shop-button a {
        font-size: .8rem;
        font-weight: 600;
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        background: white;
        border: 1px solid black;
        font-family: 'Source Sans Pro', sans-serif; }
        .swiper-main .swiper-container .swiper-slide .shop-button a:hover {
          color: white;
          background: black;
          opacity: 1; }
    .swiper-main .swiper-container .swiper-pagination {
      font-weight: 700;
      font-size: 2rem; }
    .swiper-main .swiper-container .swiper-button-prev {
      background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/mc-downarrow-grey.svg") no-repeat !important;
      background-position: -240px -40px;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      display: block;
      width: 40px !important;
      height: 40px !important; 
      position: absolute !important;

  }
    .swiper-main .swiper-container .swiper-button-next {
      background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/mc-downarrow-grey.svg") no-repeat !important;
      background-position: -240px -40px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      display: block;
      width: 40px !important;
      height: 40px !important; 
      position: absolute !important;
    }
  .swiper-main .swiper-home-pic {
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; }
    .swiper-main .swiper-home-pic .number-pics {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      color: white;
      background: black;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 10px;
      text-align: center; }
      .swiper-main .swiper-home-pic .number-pics:before {
        content: 'See the pictures ';
        display: block; }
      .swiper-main .swiper-home-pic .number-pics:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/f1i-logo.svg") no-repeat !important;
        background-size: 500px 500px !important;
        background-position: -315px -75px !important;
        position: absolute;
        bottom: 0;
        right: 0; }

.fancybox-bg {
  background: white !important; }

.fancybox-container .fancybox-slider-wrap .fancybox-button--left {
  display: none; }
  @media screen and (min-width: 768px) {
    .fancybox-container .fancybox-slider-wrap .fancybox-button--left {
      display: block;
      border: none !important;
      position: absolute;
      top: 50%;
      cursor: pointer;
      left: 35px !important;
      z-index: 100000 !important;
      background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/mc-downarrow-blk.svg") no-repeat !important;
      display: block !important;
      width: 60px !important;
      height: 60px !important;
      -webkit-transform: translateX(-50%) rotate(90deg);
          -ms-transform: translateX(-50%) rotate(90deg);
              transform: translateX(-50%) rotate(90deg);
      min-height: 40px !important;
      line-height: 40px !important; }
      .fancybox-container .fancybox-slider-wrap .fancybox-button--left:before, .fancybox-container .fancybox-slider-wrap .fancybox-button--left:after {
        display: none; } }

.fancybox-container .fancybox-slider-wrap .fancybox-button--right {
  display: none; }
  @media screen and (min-width: 768px) {
    .fancybox-container .fancybox-slider-wrap .fancybox-button--right {
      display: block;
      border: none !important;
      position: absolute;
      top: 50%;
      cursor: pointer;
      right: 0px !important;
      z-index: 100001 !important;
      background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/mc-downarrow-blk.svg") no-repeat !important;
      display: block !important;
      width: 60px !important;
      height: 60px !important;
      -webkit-transform: translateX(-50%) rotate(-90deg);
          -ms-transform: translateX(-50%) rotate(-90deg);
              transform: translateX(-50%) rotate(-90deg);
      min-height: 40px !important;
      line-height: 40px !important; }
      .fancybox-container .fancybox-slider-wrap .fancybox-button--right:before, .fancybox-container .fancybox-slider-wrap .fancybox-button--right:after {
        display: none; } }

.fancybox-container .fancybox-controls .logo-mcmobile {
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 28%; }
  @media screen and (min-width: 768px) {
    .fancybox-container .fancybox-controls .logo-mcmobile {
      display: none; } }

.fancybox-container .fancybox-caption-wrap {
  padding: 0 !important;
  background: rgba(0, 0, 0, 1); }
  @media screen and (min-width: 768px) {
    .fancybox-container .fancybox-caption-wrap {
      background: black; } }
  .fancybox-container .fancybox-caption-wrap .caption-top {
    padding: 0 10px !important; }
    @media screen and (min-width: 768px) {
      .fancybox-container .fancybox-caption-wrap .caption-top {
        padding: 0 !important; } }
    .fancybox-container .fancybox-caption-wrap .caption-top .fancybox-caption p {
      margin-bottom: 5px; }
    .fancybox-container .fancybox-caption-wrap .caption-top .fancybox-caption .shop-button {
      display: block;
      text-align: center;
      margin-top: 20px; }
      .fancybox-container .fancybox-caption-wrap .caption-top .fancybox-caption .shop-button a {
        font-weight: 600;font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        background: black;
        border: 1px solid white;
        font-family: 'Source Sans Pro', sans-serif; }
        .fancybox-container .fancybox-caption-wrap .caption-top .fancybox-caption .shop-button a:hover {
          color: black;
          background: white;
          opacity: 1; }
  .fancybox-container .fancybox-caption-wrap .caption-bottom {
    position: relative;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media screen and (min-width: 768px) {
      .fancybox-container .fancybox-caption-wrap .caption-bottom {
        /* position: absolute; */
        bottom: 10px;
        overflow: hidden; } }

@media screen and (max-width:  767px) {
  .fancybox-placeholder {transform: translateY(80px) !important;}
}
  .fancybox-container--ready .fancybox-bg { opacity: 1 !important}    


  
.hidden-content-l{
  /* display: inline-block !important; */
  left: 0 !important;
  top: 0 !important;
  width: calc(90%) !important;
  height: auto !important;
  text-align: center;
  overflow: hidden;
}

.hidden-content-l h3{
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .hidden-content-l h3{
    font-size: 1.6rem;
  }
}
.related-gallery{
  width: calc(100% - 40px);
  top: 0;
  vertical-align: top;
  margin: 0 20px;
  text-align: center;
  vertical-align: top;
  display: none;
}
.related-gallery:nth-child(1), .related-gallery:nth-child(2) {
  display: block;
}
@media screen and (min-width: 768px) {
  .related-gallery{
    width: calc(33.33% - 40px);
    display: inline-block;
  }
  .related-gallery:nth-child(1), .related-gallery:nth-child(2) {
    width: calc(33.33% - 40px);
    display: inline-block;
  }
}
.related-gallery>p{
  margin: 10px 0 30px;
}
.fancybox-close-small{display: none}
.fancybox-buttons{display: block}
.fancybox-button--left::after{
  
}
.fancybox-button--right::after{

}
/*
.justified-gallery img{
  opacity: 0;
}*/


.masonry  a img {
    -webkit-box-shadow: 0 0 0 2px #fff !important;
    box-shadow: 0 0 0 2px #fff  !important;;
}

.fancybox-infobar {display: none !important}
