/* styling for admin menu */
 
/* background and text color */

/*
#adminmenuback, #adminmenuwrap {
    background-color: #58595b;
    border-color: #fff;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    background-color: #58595b;
    color: #d54e21;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
#adminmenu li.wp-menu-separator {
    background: #fff;
    border-color: #fff;
}
 

#adminmenu a,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
    color: #fff;
}
#adminmenu a:hover,
#adminmenu a:active {
    color: #fff;
    text-decoration: underline;
}
#adminmenu .wp-submenu a {
    color: #58595b;
}
 

#adminmenu li.wp-not-current-submenu .wp-menu-arrow,
#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {
    background: #58595b;
}
 

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    background: #9e4059;
}
#adminmenu li.wp-has-current-submenu .wp-menu-arrow,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div {
    background: #9e4059;
}*/ 

.acf-field-date-picker{
    display: block;
}

.media-modal-content .attachments-browser .media-toolbar-secondary {
    width: 40%;
}

.attachments-browser .attachments, .attachments-browser .uploader-inline {
    position: absolute;
    top: 50px;
    left: 0;
    right: 300px;
    bottom: 0;
    overflow: auto;
    outline: 0;
    width: 60% !important;
}

.media-toolbar-primary {
    float: left;
    height: 100%;
    width: 100% !important;
}

.media-sidebar {
    position: absolute;
    width: 35%;
    padding: 0 16px 24px;
    z-index: 75;
    border-left: 1px solid #ddd;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.acf-field-wysiwyg td.acf-label{display: none !important}
.acf-field-wysiwyg td.acf-input{width: 100% !important}
#wp-link-wrap { z-index: 1001059 !important;}
/*
div.mce-toolbar-grp.mce-inline-toolbar-grp {
    z-index: 1 !important;
}*/

div.mce-inline-toolbar-grp {
    z-index: 999999 !important;
}
