.ReadMsgBody { width: 100%; background-color: #ffffff;}
.ExternalClass {width: 100%; background-color: #ffffff;}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
body {margin:0; padding:0;}
table {border-spacing:0;}
table td {border-collapse:collapse;}
.yshortcuts a {border-bottom: none !important;}

@media screen and (max-width: 600px)
{
    body {
        padding: 0 !important;
    }

    table[class="container"]
    {
        width:300px !important;
    }

}

@media only screen and (max-width : 600px)
{

    body {
        padding: 0 !important;
    }

    td[class="link"] {
        padding: 0 !important;
        font-size: 11px !important;
    }

    table[class="entete-infos"],
    table[class="entete-logo"],
    table[class="listing"],
    td[class="listing-bloc"],
    table[class="listing-bloc-T"],
    table[class="adecouvrir"],
    img[class="adecouvrir-img"],
    table[class="filinfo"],
    table[class="filinfo-liste"],
    table[class="teaser"],
    td[class="teaser-col-mea"],
    table[class="teaser-col-mea-T"],
    td[class="teaser-col1"],
    td[class="teaser-col2"],
    td[class="teaser-col-pub"],
    img[class="teaser-img"],
    table[class="partage"],
    td[class="partage-col"],
    table[class="partage-picto"]
    {
        width:300px !important;
    }

    td[class="entete-cat"]
    {
        width:215px !important;
    }

    span[class="date"],
    td[class="listing-bloc"],
    td[class="filinfo-bloc"],
    td[class="teaser-col-mea"],
    td[class="teaser-col1"],
    td[class="teaser-col2"],
    td[class="teaser-col-pub"],
    td[class="partage-col"]
    {
        display:block;
    }

    img[class="adecouvir-cat-img"]
    {
        width:212px !important;
        height:32px !important;
    }

    a[class="adecouvrir-titre"]
    {
        font-size:18px !important;
    }

    td[class="adecouvrir-description"]
    {
        display:none;
    }

    a[class="adecouvrir-link"]
    {
        font-size:14px !important;
    }

    td[class="filinfo-titre"]
    {
        height:39px !important;
        font-size:24px !important;
    }

    td[class="teaser-col1"],
    td[class="listing-link"]
    {
        padding:0 0 20px 0;
    }

    table[class="teaser"]
    {
        border:0 !important;
        padding:0 !important;
    }

    td[class="teaser-col-pub"]
    {
        padding:20px 0 0 0;
    }

    td[class="divider"]
    {
        height:20px !important;
    }

    td[class="mode_head"]
    {
        padding-left: 10px !important;
    }

    table[class="adecouvrir"] span
    {
        font-size: 20px !important;
        display: block !important;
        padding-top: 10px !important;
    }

    td[class="subItems"]
    {
        font-weight: bold !important;
        padding-bottom: 20px !important;
    }

    td[class="subItems"] span
    {
        padding: 0px !important;
    }

    table[class="partage"] td {
        font-size: 20px !important;
        padding: 0 !important;
    }

    table[class="partage"] span {
        margin: 0 2px !important;
    }

    table[class="partage"] img {
        width: 40px !important;
        height: auto !important;
    }


}