<script id="template-3col" type="text/html">
	<div class="swiper-gallery template-3col">
	<div class="swiper-container-gallery swiper-container-horizontal">
	<div class="swiper-wrapper">
		{{#.}}
			<div class="swiper-slide grid-slider">
				{{#.}}
					<div class="grid-row">
					{{#.}}
						<div class="grid-item">
							<div class="swiper-picture_wrapper">
								<picture>{{{srcset}}}<img class="fancy_img" data-fancybox="{{{id_gallery}}}" href="{{gallery_pic-thumb}}" data-srcset="" alt="" src="{{gallery_pic}}"/></picture>
							</div>
							<div class="swiper-caption_wrapper">
								{{#desc_rich}}
									<div class="swiper-caption">{{{desc_rich}}}</div>
								{{/desc_rich}}
								{{#shop_link}}
									<div class="swiper-shop btn-v1"><a target="_blank" href="{{{shop_link}}}">{{{cta_title}}}</a></div>
								{{/shop_link}}
							</div>
						</div>
					{{/.}}
					</div>
				{{/.}}
			</div>
		{{/.}}
	</div>
	</div>
	</div>
</script>

<script id="template-1col" type="text/html">
	<div class="swiper-gallery template-1col">
	<div class="swiper-container-gallery swiper-container-horizontal">
	<div class="swiper-wrapper">
	{{#.}}
		{{#picture}}
				{{#.}}
					{{#.}}
					<div class="swiper-slide">
						<div class="swiper-picture_wrapper">
							<picture class="lazy">{{{srcset}}}<img  class="fancy_img" rel="gallery" data-fancybox="{{{id_gallery}}}" data-caption='' data-ctatitle="{{{cta_title}}}" data-shoplink= "{{{shop_link}}}" href="{{gallery_pic-thumb}}" data-srcset="" alt="{{alt}}" src=""/>
							</picture>
						</div>
						<div class="swiper-caption_wrapper swiper-caption_data">
							{{#desc_rich}}
								<div class="swiper-caption">{{{desc_rich}}}</div>
							{{/desc_rich}}
							{{#shop_link}}
								<div class="swiper-shop btn-v1"><a target="_blank" href="{{{shop_link}}}">{{{cta_title}}}</a></div>
							{{/shop_link}}
						</div>
					</div>


					{{/.}}
				{{/.}}
		{{/picture}}
	{{/.}}
	</div>
	 <div class="swiper-button-prev swiper-button-prev-galerie sprite"><span></span></div>
	 <div class="swiper-button-next swiper-button-next-galerie sprite"><span></span></div>
	</div>
	</div>
</script>

<script id="template-all" type="text/html">
	<div class="template-all">
	<div class="grid">
		<div class="grid-sizer"></div>
			{{#.}}
				{{#picture}}
					{{#.}}
						{{#.}}
						<div class="grid-item">
							<span class="grid-item-wrapper">
								<picture>{{{srcset}}}<img class="fancy_img" data-fancybox="{{{id_gallery}}}" href="{{gallery_pic-thumb}}" data-srcset="" alt="" src="{{gallery_pic}}"/></picture>
								<div class="swiper-caption_data hidden">
									{{#desc_rich}}
										<div class="swiper-caption">{{{desc_rich}}}</div>
									{{/desc_rich}}
									{{#shop_link}}
										<div class="swiper-shop btn-v1"><a target="_blank" href="{{{shop_link}}}">{{{cta_title}}}</a></div>
									{{/shop_link}}
								</div>
							</span>
						</div>
						{{/.}}
					{{/.}}
				{{/picture}}
			{{/.}}
		</div>
	<div>
</script>