@import "import/import.reset.scss";
@import "import/import.variables.scss";


//STYLES
#wpadminbar{
	display: none;
}
html,body{
	&.linkinbio{
		font-family: $font1;
	    background: $white;
	    background: #FFF !important;
	    position: relative;
	    width:100%;
	    margin-top: 42px;
	    @media screen and (min-width: $screen-sm){
	        margin-top: 64px;
	    }
	    @media screen and (min-width: $screen-md){
	        margin-top: 100px
	    }
	    .site-inner{
		    max-width: 900px;
		    display: block;
		    margin: 0 auto;
		    background:white;
		    .site-inner{
		        padding:0;
		    }
		}
	}
}
#header{
	&.header-linkinbio{
		text-align: center;
    	height: 46px;
	    background: $white;
	    position: fixed;
	    padding: 0 !important;
	    top: 0;
	    left: 0;
	    z-index: 7000;
	    width: 100%;
	    //border-bottom: 1px solid #7f7f7f;
	    @media screen and (min-width: $screen-sm){
	        height: 64px;
	        padding: 0;
	        @media screen and (orientation: landscape) {
		        display: block !important;
		        height: 54px;
		    }
		}
	    @media screen and (min-width: $screen-md){
	        height: 90px !important;
	        padding: 0;
	    }
	    .site-inner{ 
	    	box-sizing:border-box;
	    	margin: 0 auto;
	    	padding: 0;
	    	max-height: 100%;
    		height: 128px;
	    	.site-logo{
	    		padding-top: 5px;
	    		img{
	    			max-height: 46px;
	    			display: block;
	    			margin: 0 auto;
	    			@media screen and (min-width: $screen-sm){
						max-height: 54px;
					}
					@media screen and (min-width: $screen-md){
						max-height: 90px;
					}
	    		}
	    	}
	    }
	}
}
main{
	&.single-linkinbio{
		.site-inner{
			&.single-linkinbio{
	            .entry-content{
	            	width: 100%;
	                border: none;
	                .insta-item{
	                    img{
	                        display: block;
	                        margin: 0 auto;
	                        max-width: 400px;
	                        height: auto;  
	                    }
	                } 
	            }
	        }
		}
	}
	&.main-linkinbio{
		margin-top: 20px;
		@media screen and (min-width: $screen-sm){
			margin-top: 10px;
		}
		// @media screen and (min-width: $screen-sm){
		// 	margin-top: 120px;
		// }
		.site-inner{
            margin: 0px auto;
            padding: 0;
            p{
                margin: 0 auto;
                display: block;
                text-align: center;
                padding: 20px 0;
                font-family: $font2;
                font-size: .9rem;
                margin-bottom: 10px !important;
                font-weight: normal;
                @media screen and (min-width: $screen-sm){
					 font-size: 1rem;
					 margin-bottom: 20px !important;
				}
            }
            .entry-content{
                border-bottom: none;
                margin: 0px;
                padding: 0px;
                @media screen and (min-width: $screen-md){
                    width: 100%;
                }
                .insta-wrapper{
                    margin: 0px;
                    padding: 0px;
                    font-size: 0;
                    text-align: center;
                    .insta-block{
                        display: inline-block;
                        width: 50%;
                        height: auto;
                        margin: 0px;
                        padding: 2px;
                        vertical-align: top;
                        box-sizing:border-box;
                        //padding: 5px;
                        @media screen and (min-width: $screen-md){
                            width: 33.33%;
                        }
                        .insta-item{
                        	display: block;
                        	width: 100%;
                        	height: 100%;
                            img{
                                max-width: 100%;
                                height: auto;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
	}
}
footer{
	&.footer-linkinbio{
		background: #FFFFFF !important;
		.site-inner{
	    	padding: 0 20px;
	        small{
	        	font-family: $font2;
	            margin: 20px 0;
	            text-align: center;
	            font-size: .8rem;
	            display: block;
	            text-transform: uppercase;
	            a{
	                color: $black;
	                text-decoration: none;
	                font-family: $font2;
	            }
	        }
	    }
	}
}