$white:#fff;
$black:#000;

// Serif
$font1: Chronicle Display, serif;
// Sans serif
$font2: Elle Gabor Std, sans-serif;

// small device
$screen-sm: 480px; 
// medium device
$screen-md: 640px;
// large device
$screen-mdd: 960px;
// very large device
$screen-lg: 1050px;     