//Elle Gabor
//Text
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../fonts/ElleGaborStd-Text.eot');
    src: url('../fonts/ElleGaborStd-Text.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ElleGaborStd-Text.woff') format('woff'),
        url('../fonts/ElleGaborStd-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Medium
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../fonts/ElleGaborStd-Medium.eot');
    src: url('../fonts/ElleGaborStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ElleGaborStd-Medium.woff') format('woff'),
        url('../fonts/ElleGaborStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
// Demi bold
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../fonts/ElleGaborStd-DemiBold.eot');
    src: url('../fonts/ElleGaborStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ElleGaborStd-DemiBold.woff') format('woff'),
        url('../fonts/ElleGaborStd-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// Chronicle Display

// Normal
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/ChronicleDisplay-Roman.eot');
    src: url('../fonts/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Roman.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Semi Bold
@font-face {
    font-family: 'Chronicle Display Semi';
    src: url('../fonts/ChronicleDisplay-Semi.eot');
    src: url('../fonts/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Semi.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Semi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/ChronicleDisplay-Bold.eot');
    src: url('../fonts/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Bold.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
// Italic
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/ChronicleDisplay-Italic.eot');
    src: url('../fonts/ChronicleDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Italic.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
//Bold italic
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/ChronicleDisplay-BoldItalic.eot');
    src: url('../fonts/ChronicleDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/ChronicleDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

