//Elle Gabor
//Text
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Medium
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Medium.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Medium.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
// Demi bold
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// Chronicle Display

// Normal
@font-face {
    font-family: 'Chronicle Display';
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Roman.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Roman.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Semi Bold
@font-face {
    font-family: 'Chronicle Display Semi';
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Semi.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Semi.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Semi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
// Bold
@font-face {
    font-family: 'Chronicle Display';
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Bold.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Bold.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
// Italic
@font-face {
    font-family: 'Chronicle Display';
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Italic.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Italic.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
//Bold italic
@font-face {
    font-family: 'Chronicle Display';
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-BoldItalic.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-BoldItalic.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ChronicleDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@import "import/import.variables.scss";
.hidden{
    display: none;
}
.leaderboard{
    display: block;
    margin-top: 50px;
}
body{
	position: relative;
    #header{
    	width: 100%;
    	height: 42px;
    	position: fixed;
    	top: 0;
    	text-align: center;
    	display: block;
    	background: $white;
        z-index: 10000;
        border-bottom: 1px solid #cdcdcd;
    	.ampstart-navbar-trigger{
    		display: none;
    	}
    	.site-logo{
    		display: block;
    		height: 100%;
    		.elle-logo{
				padding-top: 4px;
    		}
    	}
    	.switch-version{
            color: $red;
            font-family: $font2;
            font-size: .6rem;
            font-weight: bold;
            position: absolute;
            right: 10px;
            bottom: 5px;
            text-transform: uppercase;
        }
    }
    #header-sidebar{
        //z-index: 200;
        padding-top:5px;
        background-color: $white; 
        width: 100%;
        max-width: 100%;
        position: relative;
        border-right: 1px solid #cdcdcd;
        .site-logo{
            position: absolute;
            top: 15px;
            left: 15px;
            display: block;
            height: 100%;
            .elle-logo{
                padding-top: 4px;
            }
        }
        .ampstart-sidebar-header{
            font-size: 2rem;
            text-align: right;
            .items-start{
                text-align: right;
                margin: 0 10px 30px 10px;
                font-weight: normal;
            }
        }
        nav{
            ul{
                padding: 0;
                margin: 0 15px;
                li{
                    list-style: none;
                    margin: 0;
                    padding: 0px 15px;
                    border-bottom: 1px solid $middlegrey;
                    text-align: left;
                    position: relative;
                    &:first-child{
                        border-top: 1px solid $middlegrey;
                    }
                    a{
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 1.15rem;
                        color: $black;
                        font-family: $font1;
                        //height: 100%;
                        position: relative;
                        left: -15px;
                        display: block;
                        width: calc(100% - 20px);
                        padding: 20px 15px;
                    }
                }
            }
        }
        h3{
            //text-align: center;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-family: $font2;
            padding: 0 20px;
        }
        .ampstart-social-follow{
            padding: 0 20px;
            //text-align: center;
            li{
                list-style: none;
                display: inline-block;
                a{
                    display: block;
                    width: 40px;
                    height: 40px;
                    img{
                       display: block;
                        width: 40px;
                        height: 40px; 
                    }
                }
            }
        }
    }
    .navbar{
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        background:$white;
        height: 50px;
        width: 100%;
        z-index: 1000;
        border-top: 1px solid #cdcdcd;
        span{
            background: $black;
            width: 24px;
            height: 2px;
            display: block;
            margin: 0 auto;
            position: relative;
            top: 25px;
            transition: all .05s ease-in-out;
            &:before, &:after{
                content: "";
                width: 24px;
                height: 2px;
                display: block;
                background: $black;
                transition: all .15s ease-in-out;
            }
            &:before{
                top: 8px;
                position: absolute;
            }
            &:after{
                top: -8px;
                position: absolute;
            }
        }
    }
    main{
    	padding: 5px 20px 0px 20px;
        article{
            position: relative;
            width: 100%;
            min-height: 100%;
            .entry-header{
                .post-category{
                    padding-top: 20px;
                    text-align: center;
                    a{
                        display: inline-block;
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        font-family: $font1;
                        color: $middlegrey;
                        text-decoration: none;
                        &.post-category-child{
                            display: inline-block;
                            font-size: 1rem;
                            font-family: $font2;
                            &:before{
                                content: " | ";
                                margin: 10px 0;
                            }
                        }
                    }
                }
                h1{
                    font-family: $font2;
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    display: block;
                    text-align: center;
                    margin-bottom: 20px;
                    border-bottom: none;
                }
                .post-details{
                    font-size: .9rem;
                    text-align: center;
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-style: italic;
                    .date{
                        line-height: 1.2rem;
                        display: inline-block;
                        text-transform: lowercase;
                        position: relative;
                        &:first-letter{
                            text-transform: capitalize;
                        }
                    }
                    .author{
                        margin-top: 5px;
                        display: block;
                        a{
                            font-weight: bold;
                            color: $black;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .entry-content{
                &>p{
                    &:first-child{
                        font-weight: bold;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        padding-left: 30px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-top: 15px;
                        border-left: 5px solid $black;
                        &::first-letter {
                            font-size: 250%;
                        } 
                    }
                }
                font-family: $font1;
                font-size: 1rem;
                border-bottom: 1px solid $black;
                h2, h3, h4, h5, h6{
                    text-transform: uppercase;
                    font-weight: bold;
                    display: block;
                }
                h2{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         font-size:1.4rem;
                    margin: 10px 0 20px;
                    position: relative;
                    font-size:1.4rem;
                }
                h3{
                    margin: 10px 0 20px;
                    position: relative;
                    font-size: 1.3rem;
                }
                h4, h5, h6{
                    font-size:1.2rem;
                    font-weight: 600;
                    margin-bottom: 15px;
                }
                sup, sub {
                    font-size: 75%;
                    height: 0;
                    line-height: 0;
                    position: relative;
                    vertical-align: baseline;
                }
                sup {
                    bottom: 1ex;
                }
                sub {
                    bottom: -1ex;
                }
                a{
                    color: $black;
                }
                a[href]:after {
                    @media print{
                        content: " (" attr(href) ")"; /* affichage des URL des liens */
                    }
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
                figure{
                    max-width: 100%;
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    font-size: .8rem;
                    text-align: center;
                    margin: 15px auto;
                    font-family: $font1;
                    font-style: italic;
                    color: $black;
                    display: block;
                    img{
                        display: block;
                    }
                }
                .alignleft{
                    float: left;
                    margin-right: 20px;
                    &:after {
                        content: "";
                        clear: both;
                    }
                }
                .aligncenter{
                    display: block;
                    margin: 20px auto;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
                .alignright{
                    float: right;
                    margin-left: 20px;
                }
                .segment-multipage, .multipage_block{
                    position: relative;
                    padding: 30px 0 40px;
                    margin: 20px 0;
                    clear: both;
                    z-index: 0;
                    &:after{
                        content: '';
                        border-top: 1px solid $black;
                        display: block;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        z-index: -1;
                    }
                    .icon-multipage{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform:translate(-50%, -50%) rotate(45DEG);
                        display: block;
                        height: 50px;
                        width: 50px;
                        background: $white;
                        border: 1px solid $black;
                        div{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            font-style: italic;
                            font-size: 1.5rem;
                            transform:translate(-50%, -50%) rotate(-45DEG);
                            &.long-number{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                p, div{
                    font-size: 1rem;
                    line-height: 1.4rem;
                    font-weight: 300;
                    font-family: $font1;
                }
                strong, b{
                    font-weight: 600;
                }
                iframe{
                    max-width: 100%;
                    position: relative;
                    margin: 0 auto;
                }
                em{
                    font-style: italic;
                }
                ul{
                    padding: 0;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    margin: 0px 0 20px 10px;
                    list-style-type: disc;
                    display: inline-block;
                    li{
                        margin-left: 20px;
                        font-weight: 300;
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }
                }
                blockquote{
                    p{
                       //margin-left: 10px;
                        margin-bottom: 20px;
                        position: relative;
                        font-size: 1rem;
                        line-height: 1.4rem;
                        font-family: $font1;
                        font-weight: 300;
                        font-style: italic;
                        &:before, &:after{
                            content: '"';
                            
                        }
                        strong{
                            font-weight: bold;
                        }
                    }
                }
                ol {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    display: block;
                    list-style-type: decimal;
                    margin: 10px 38px;
                    li{
                        padding-left: 5px;
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }
                }
                .top-article{
                    margin-top: 40px;
                    h2{
                        text-align: center;
                        a{
                            font-family: $font2;
                            text-decoration: none;
                        }
                    }
                    .post-thumbnail{
                        picture, img{
                            display: block;
                            margin: 0 auto;
                        }
                        .caption-div{
                            font-size: .7rem;
                            text-align: center;
                            margin: 10px auto;
                            font-family: $font1;
                            font-style: italic;
                            color: $black;
                            display: block;
                        }
                    }
                    p{
                        margin-top: 30px;
                        margin-bottom: 10px;
                    }
                    .link-top-article{
                        text-align: right;
                        display: block;
                        text-decoration: none;
                        &:before{
                            content: "[";
                        }
                        &:after{
                            content: "]";
                        }
                    }
                }
                .tags-wrapper{
                    font-size: .7rem;
                    margin: 10px 0;
                    p:first-letter{
                        text-transform: capitalize;
                    }
                    p, span, a{
                        color: $black;
                        font-size: .7rem;
                        cursor: pointer;
                        font-family: $font1;
                        text-transform: lowercase;
                    }
                }
            }
            .entry-footer{
                #social-share{
                    text-align: left;
                    margin-top: 10px;   
                    .amp-twitter, .amp-facebook, .amp-pinterest, .amp-mail{
                        background:none;
                    }
                }
            }
            .ampstart-related-section{
                background: url("../wp-content/themes/ellev2017/img/icons/elle_background_pattern.svg") repeat repeat; 
                background-size: 11px 8px;
                text-align: center;
                margin: 20px 0;
                width: 100%;
                h3{
                    font-size: 1.4rem;
                    text-align: center;
                    display: inline-block;
                    text-transform: uppercase;
                    font-family: $font2;
                    color: $black;
                    font-weight: bold;
                    position: relative;
                    margin: 20px 0 0 0;
                    padding-bottom: 2px;
                    margin-bottom: 20px;
                    border-bottom: 4px solid $black;
                }
                ul{
                    vertical-align: top;
                    z-index: 0;
                    margin: 10px;
                    width: calc(100% - 20px);
                    padding: 0;
                    font-size: 0;
                    display: inline-block;
                    li{
                        &:nth-of-type(1){
                            display: none;
                        }
                        vertical-align: top;
                        display: inline-block;
                        width: calc(50% - 20px);
                        margin: 0 5px;
                        figure{
                            //margin: 0 10px;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: auto;
                            a{
                                text-transform: uppercase;
                                font-size: .8rem;
                                line-height: .9rem;
                                font-family: $font2;
                                font-weight: bold;
                                color: $black;
                                text-decoration: none;
                                margin: 10px 0;
                                display: block;
                                figcaption{
                                    display: block;
                                    padding: 10px 0;
                                    span{
                                        display: block;
                                        padding: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }           
            }
        }
    }
}
.ampstart-footer{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    small{
        width: 100%;
        font-family: $font2;
        font-weight: bold;
        font-size: .7rem;
        text-transform: uppercase;
    }
}