@import "import/import.variables.scss";

html,body{
    background: $white;
    position: relative;
    width:100%;
    overflow-x:hidden;
}
body{
	margin-top: 42px;
	margin-bottom: 80px;
    @media screen and (min-width: $screen-sm){
       margin-top: 64px;
    }
    @media screen and (min-width: $screen-md){
      margin-top: 0px;
      margin-bottom: 0px;
    }
    @media print{
        margin:0;
    }
}
*{
	box-sizing:border-box;
	outline: none;
}
.no_desktop{
    @media screen and (min-width: $screen-md){
        display: none !important;
    }
}
.sprite{
    background: url($url_sprite) no-repeat;          
    background-size: 500px 700px;
}
button, .btn-activate{
    position: relative;
    outline: none;
	&.burger-btn{
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        background-color: $white;
        @media screen and (min-width: $screen-md){
	        left: 0;
	    }
        span{
            background: $black;
            width: 24px;
            height: 2px;
            display: block;
            margin: 0 auto;
            position: relative;
            &:before, &:after{
                content: "";
                width: 24px;
                height: 2px;
                display: block;
                background: $black;
            }
            &:before{
                top: 8px;
                position: absolute;
            }
            &:after{
                top: -8px;
                position: absolute;
            }
        }
    }
}

.second-nav-menu{
    padding-bottom: 12px;
    text-align: center;
    li{
        display: inline-block;
        margin: 0 10px;
        a{
            text-transform: uppercase;
            color: $black;
            text-decoration: none;
            font-size: .8rem;
            @media screen and (min-width: $screen-lg){
                font-size: 1rem;
            }
            &.current-menu-item{
                color: $middlegrey;
                @media screen and (min-width: $screen-md){
                    &:hover{
                        color: $red;
                    }
                }
            }
        }
        &.current-mag{
            a{
                color:$red;
            }
        }
    }
}
.site-inner{
    max-width: 1050px;
    display: block;
    margin: 0 auto;
    background:white;
    .site-inner{
        padding:0;
    }
}
.article-design-1{
    font-size: 0;
    position: relative; 
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
   	border-bottom: 1px solid $middlegrey;
    @media screen and (min-width: $screen-md){
    	padding-bottom: 40px;
    	margin-bottom: 40px;
        &:nth-child(odd){
            margin-right: 10px;
        }
    }
    .post-thumbnail{
        vertical-align: top;
        position: relative;
        display: inline-block;
        width: 40%;
        cursor: pointer;
        img{
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        .icon-div{
            display: block;
            width: 35px;
            height: 35px;
            left: 50%;
            transform:rotate(45deg) translateX(-50%);
            position: absolute;
            bottom: -30px;
            background: white;
            .sprite{
                display: block;
                width: 35px;
                height: 35px;
                transform:rotate(-45deg);
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
                background-position: -350px -120px;
                &.icon-multipage, &.icon-gallery{
                    background-position: -455px -120px;
                }
                &.icon-video{
                    background-position: -420px -120px;
                }
                &.icon-concours{
                    background-position: -385px -120px;
                }
            }
        }
    }
    .post-side{
        vertical-align: top;
        position: relative;
        display: inline-block;
        width: calc(60% - 20px);
        margin-left: 20px;
        margin-top: 5px;
        .post-category{
            .post-category-parent{
                display: inline-block;
                font-size: .65rem;
                text-transform: uppercase;
                color: $middlegrey;
                text-decoration: none;
                margin-right: 2px;
            }
            .post-category-child{
                display: inline-block;
                font-size: .8rem;
                text-transform: uppercase;
                color: $middlegrey;
                text-decoration: none;
                &:before{
                    content: " | ";
                    margin: 10px 0;
                }
            }
        }
        .post-title{
            margin-top: 7px;
            text-decoration: none;
            color: $black;
            display: block;
            font-size: .8rem;
            line-height: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            @media screen and (min-width: $screen-sm){
                font-size: 1rem;
                line-height: 1.2rem;
            }
        }
        ul.article-social-links{
            position: relative;
            width: auto;
            min-height: 35px;
            min-width: 35px;
            display: inline-block;
            cursor: pointer;
            margin: 0;
            z-index: 1;
            li{
                width: 35px;
                height: 35px;
                display: inline-block;
                margin:0;
                vertical-align: top;
                @media screen and (min-width: $screen-md){
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:nth-of-type(1){
                    @media screen and (min-width: $screen-md){
                        z-index: 10;
                    }
                }
                &:nth-of-type(2){
                    @media screen and (min-width: $screen-md){
                        z-index: -2;
                    }
                }
                &:nth-of-type(3){
                    @media screen and (min-width: $screen-md){
                        z-index: -3;
                    }
                }
                &:nth-of-type(4){
                    @media screen and (min-width: $screen-md){
                        z-index: -4;
                    }
                }
                &:nth-of-type(5){
                    @media screen and (min-width: $screen-md){
                        z-index: -5;
                    }
                }
                &:nth-of-type(6){
                    @media screen and (min-width: $screen-md){
                        z-index: -6;
                    }
                }
                &:nth-of-type(7){
                    @media screen and (min-width: $screen-md){
                        z-index: -7;
                    }
                }
                &.sprite-social-article{
                    display: none;
                    border-right: 1px solid $white;
                    opacity: 1;
                    margin:0 !important;
                    padding: 2px 0;
                    background-position: -210px -280px;
                    @media screen and (min-width: $screen-md){
                        display: inline-block;
                    }
                }
                a{
                    margin:0 !important;
                    width: 35px;
                    height: 35px;
                    display: inline-block !important;
                    transform:scale(.8);
                    @media screen and (min-width: $screen-md){
                        transform:scale(1);
                    }
                    &.sprite-fb{
                        background-position: -77.5px -122.5px;
                    }
                    &.sprite-twitter{
                        background-position: -117.5px -122.5px;
                    }
                    &.sprite-pint{
                         background-position: -77.5px -82.5px;
                    }
                    &.sprite-mail{
                        background-position: 0px -500px
                    }
                    &.sprite-whatsapp{
                        background-position: -460px -260px
                    }
                }
            }
        }
        &.sprite-pinit{
            background-position: -245px -280px;
        }
    }
}
#header{
    text-align: center;
    height: $header-height;
    background: $white;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    width: 100%;
    @media screen and (orientation: landscape) {
        display: none;
    }
    @media screen and (min-width: $screen-sm){
        height: $header-height-sm;
        padding: 0;
    }
    @media screen and (min-width: $screen-md){
        position: relative;
        height: 154px;
        padding-bottom: 0px;
        @media screen and (orientation: landscape) {
            display: block;
        }
    }
    @media screen and (min-width: $screen-lg){
        height: 164px;
    }
    @media print{
        display: none !important;
    }
    .site-inner{
        text-align: center;
        position: relative;
        top: 0;
        @media screen and (min-width: $screen-md){
            max-height: 100%;
            height: 128px;
        }
        @media screen and (min-width: $screen-lg){
			max-width: 1400px;
        }
        @media print{
            width: 100% !important;
            max-width: 100% !important;
        }
        .site-logo{
            margin: 0 auto;
            &.sprite{
                display: block;
                background-position: 0px -33px;
                width: 94px;
                height: 32px;
                @media screen and (min-width: $screen-sm){
                    width: 172px;
                    height: $header-height-sm;
                    background-position: 0 -335px;
                    margin-top: 5px;
                }
                @media screen and (min-width: $screen-md){
                    width: 230px;
                    height: 80px;
                    background-position: 0 -420px;
                    top: 25px;
                    position: relative;
                }
            }
        }
        .switch-version{
            color: $red;
            font-size: .7rem;
            font-weight: bold;
            position: absolute;
            right: 10px;
            top: 20px;
            text-transform: uppercase;
            @media screen and (min-width: $screen-sm){
                top:21px;
                font-size: .8rem;
            }
        }
    }
    .left-menu{
        position: absolute;
        top: 0px;
        left: 20px;
        height: 100%;
        display: none;
        @media screen and (min-width: $screen-mdd){
            left: 0;
            width: 290px;
        }
        @media screen and (min-width: $screen-lg){
            left: 20px;
        }
        button, .language-btn{
            padding: 0;
            border: none;
            text-decoration: none;
            width: 30px;
            height: 45px;
            display: inline-block;
            cursor: pointer;
            margin-right: 0px;
            margin-top: 60px;
            vertical-align: top;
            @media screen and (min-width: $screen-mdd){
                margin-right: 15px;
            }
            @media screen and (min-width: $screen-lg){
            	margin-right: 25px;
            }
            &:last-child{
                margin-right:0;
            }
            &.sprite{
	            transform:translate(-50%, -50%);
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
	            width: 50px;
	            height: 40px;
	            @media screen and (min-width: $screen-md){
	               transform:scale(.9) translate(-50%, -50%);
	            }
	            @media screen and (min-width: $screen-lg){
	               transform:scale(1) translate(-50%, -50%);
	            }
	            &.sprite-news{
	                background-position: -315px -10px;
	                margin-left: 25px;
	                .notif-number{
						background-color: $red;
						font-size: .5rem;
						line-height: .5rem;
						color: $white;
						padding: 2px 4px; 
						border-radius: 10px;
						position: absolute;
						top: 1px;
						right: 12px;
                    }
	            }
	            &.sprite-search{
					background-position: -365px -10px;
	            }
	            &.sprite-language{
					background-position: -415px -10px;
					position: relative;
                    color: $black;
                    .button-name{
                        bottom: -35.5px;
                    }
	            }
	        }
            &.burger-btn{
            	@media screen and (min-width: $screen-md){
	                left: 0px;
	                margin-top: 59px;
	                margin-left: 10px;
	                margin-right: -10px;
	                transform:scale(.9) translate(-50%, -50%);
	            }
	            @media screen and (min-width: $screen-mdd){
	                left: 0px;
	                margin-right: 0px;
	            }
            	@media screen and (min-width: $screen-lg){
	                left: 0px;
	                margin-right: 10px;
	                transform:scale(1) translate(-50%, -50%);
	            }
            }
        }
        .button-name{
        	@media screen and (min-width: $screen-md){
	            text-transform: uppercase;
	            position: relative;
	            font-size: 9.5px;
	            bottom: -20px;
	            opacity: 1;
	        }
	    }
        @media screen and (min-width: $screen-md){
            display: block;
        }
    }
    .main-nav, .main-news{
        background: $white;
        position: fixed;
        overflow: hidden;
        display: block;
        width: 100%;
        top: $header-height;
        left: -100%;
        min-height: calc(100% - 40px);
        z-index: 1000;
        -webkit-transform: translate3d(0,0,0);
        @media screen and (min-width: $screen-sm){
            top: $header-height-sm;
            width: 100%;
            min-height: calc(100% - 62px);
        }
        @media screen and (min-width: $screen-md){
            top: 134px;
            max-width: 320px;
            min-height: calc(100% - 120px);
        }
    }
    .mobile-menu{
        position: fixed;
        display: block;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: $white;
        border-top: 1px solid $lightgrey;
        z-index: 1001;
        &:after{
            content:'';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 50px;
            background:$white;
            bottom: -50px;
        }
        @media screen and (min-width: $screen-sm){
           height: 60px;
           &:after{
                bottom: -60px;
            }
        }
        @media screen and (min-width: $screen-md){
           display: none;
           &:after{
                display: none;
            }
        }
        ul{
            width: 100%;
            height: 100%;
            font-size: 0;
            z-index: 10;
            position: relative;
            li{
                width: 20%;
                display:inline-block;
                position: relative;
                height: 100%;
                vertical-align: top;
                height: 100%;
                button{
                    font-size: .8rem;
                    border: none;
                    cursor: pointer;
                    &.sprite{
                        display: block;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform:translate(-50%, -50%);
                        &.sprite-goback{
                            background-position: -215px 0px;
                        }
                        &.sprite-search{
                            background-position: -365px 0px;
                        }
                        &.sprite-news{
                            background-position: -315px 0px;
                            .notif-number{
								background-color: $red;
								font-size: .5rem;
								line-height: .5rem;
								color: $white;
								padding: 2px 4px; 
								border-radius: 10px;
								position: absolute;
								top: 10px;
								right: 12px;
                            }
                            &.active-on{
                                background-position: -380px -350px;
                                .notif-number{
                                    display: none;
                                }
                            }
                        }
                        &.sprite-social{
                            background-position: -265px 0px;
                        }
                    }
                    &.burger-btn{
                    	top: 0;
                    	height: 100%;
                    }
                }
            }
        }
    }
    .right-menu{
        display: none;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        button, .newsletter-btn{
            border: none;
            width: 30px;
            height: 45px;
            cursor: pointer;
            margin-right: 0px;
            margin-top: 60px;
            vertical-align: top;
            text-decoration: none;
            position: relative;
            @media screen and (min-width: $screen-mdd){
                margin-right: 15px;
            }
            @media screen and (min-width: $screen-lg){
            	margin-right: 25px;
            }
            &.sprite{
	            transform:translate(-50%, -50%);
                background: $white url($url_sprite) no-repeat;          
                background-size: 500px 700px;
	            width: 50px;
	            height: 40px;
	            @media screen and (min-width: $screen-md){
	               transform:scale(.9) translate(-50%, -50%);
	            }
	            @media screen and (min-width: $screen-lg){
	               transform:scale(1) translate(-50%, -50%);
	            }
	            &:last-child{
	                margin:0;
	            }
                &.sprite-account{
                    z-index: 20;
                    background-position: -160px -350px;
                    margin-right: 10px;
                    display: none;
                    @media screen and (min-width: $screen-mdd){
                        margin-right: 15px;
                    }
                    @media screen and (min-width: $screen-lg){
                        margin-right: 25px;
                    }
                }
	            &.sprite-social{
                    z-index: 10;
					background-position: -265px -10px;
					margin-right: 10px;
					@media screen and (min-width: $screen-mdd){
		                margin-right: 15px;
		            }
		            @media screen and (min-width: $screen-lg){
		            	margin-right: 25px;
		            }
                    &.active-on{
                        background-position: -380px -360px;
                    }
	            }
	            &.sprite-newsletter{
					background-position: -240px -130px;
					position: relative;
					margin-right: -15px;
                    position: relative;
                    display: inline-block;
                    color: $black;
                    text-decoration: none;
                    z-index: 0;
                    .button-name{
                       bottom: -35.5px; 
                    }
					@media screen and (min-width: $screen-md){
		                margin-right: -15px;
		            }
					@media screen and (min-width: $screen-mdd){
		                margin-right: -10px;
		            }
	            }
	        }
	        .button-name{
	        	@media screen and (min-width: $screen-md){
		            text-transform: uppercase;
		            position: relative;
                    z-index: 11;
                    background: $white;
		            font-size: 9.5px;
		            bottom: -20px;
		            opacity: 1;
		            display: block;
		            left: 50%;
		            transform:translateX(-50%);
		            width: 70px;
		        }
		    }
        }
        .cover-link{
        	height: 128px;
        	position: relative;
        	top: 0;
        	right: 0;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            box-shadow: 0 -4px 4px 2px rgba(0, 0, 0, 0.1); 
            background: url("../img/icons/elle_background_pattern.svg") repeat repeat; 
            background-size: 11px 8px; 
            text-decoration: none;
            @media screen and (min-width: $screen-lg){
                padding: 14px 10px;
                width: 90px;
                height: 133px;
                top: -5px;
            }
            img{
                display: block;
                height: 94px;
                width: auto;
                position: relative;
                z-index: 3;
            }
            .button-name{
                @media screen and (min-width: $screen-md){
                    text-transform: uppercase;
                    position: relative;
                    z-index: 11;
                    color: $red;
                    text-decoration: none;
                    font-size: .5rem;
                    font-weight: 600;
                    border-bottom: 0;
                    bottom: -8px;
                    opacity: 1;
                    display: block;
                    left: 50%;
                    transform:translateX(-50%);
                    width: 70px;
                }
            }
        }
        @media screen and (min-width: $screen-md){
            display: block;
        }
    }
    .second-nav{
        display: none;
        position: relative;
        @media screen and (min-width: $screen-md){
            display: block;
            &.active-on{
                z-index: -1000;
            }
        }
        .second-nav-menu{
            border-top: 1px solid $lightgrey;
            padding: 5px 0 0 0;
            @media screen and (min-width: $screen-lg){
                padding: 10px 0;
            }
        }
    }
}
.search-form{
    visibility: hidden;
}
.floating-second-nav{
    display: none;
}
.first-article{
	.article-design-1{
		display: table;
		border-bottom: none;
		@media screen and (min-width: $screen-md){
			padding-bottom: 0px;
        }
		@media screen and (min-width: $screen-lg){
			padding-bottom: 40px;
		}
	    .post-thumbnail{
	    	width: 100%;
            cursor: pointer;
	    	@media screen and (min-width: $screen-sm){
				width: calc(40% - 20px);
				display: table-cell;
            }
            @media screen and (min-width: $screen-mdd){
				width: calc(40% - 20px);
				display: table-cell;
				max-width: 480px;
            }
            @media screen and (min-width: $screen-lg){
            	width: 480px;
            }
	        img{
	        	width: 100%;
	        	@media screen and (min-width: $screen-lg){
	            	max-width: 480px;
            	}
	        }
	        .icon-div{
                bottom: -30px;
                margin-bottom: 0;
	        }
	    }
	    .post-side{
	    	text-align: center;
	    	margin: 20px 10px;
	    	width: calc(100% - 20px);
	    	margin-bottom: 0;
            vertical-align: top;
			@media screen and (min-width: $screen-sm){
				width: calc(50% - 20px);
				display: table-cell;
				position: relative;
				min-height: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: left;
				padding-left: 10px;
            }
            @media screen and (min-width: $screen-md){
				text-align: center;
				padding-left: 0px;
            }
            .post-side-inner{
                vertical-align: top;
            	position: relative;
            	@media screen and (min-width: $screen-md){
					vertical-align: middle;
					margin: 0 20px;
            	}
				.post-category{
                    vertical-align: top;
		        	margin-top: 5px;
		            .post-category-parent{
		            	font-size: 1rem;
		            	@media screen and (min-width: $screen-md){
							font-size: 1.2rem;
		            	}
		            	@media screen and (min-width: $screen-lg){
		            		font-size: 1.4rem;
		            	}
		            }
		            .post-category-child{
                        vertical-align: top;
                        display: none;
                        @media screen and (min-width: $screen-sm){
                            display: inline-block;
                        }
		            	font-size: 1rem;
		            	@media screen and (min-width: $screen-md){
		            		font-size: 1.2rem;
		            	}
		            	@media screen and (min-width: $screen-lg){
		            		font-size: 1.4rem;
		            	}
		                &:before{
		                	font-size: 1rem;
		                	@media screen and (min-width: $screen-lg){
		                		font-size: 1.4rem;
		                	}
		                }
		        	}
			    }
			    h1, h2{
                    vertical-align: top;
                    cursor: pointer;
		        	.post-title{
		        		font-size: 1.2rem;
			        	line-height: 1.4rem;
			        	margin-top: 15px;
                        margin-bottom: 10px;
                        cursor: pointer;
			            @media screen and (min-width: $screen-mdd){
			            	font-size: 1.6rem;
			        		line-height: 1.8rem;
                            margin-bottom: 0px;
						}
						@media screen and (min-width: $screen-mdd){	
							margin: 30px 0 35px;
						}
			            @media screen and (min-width: $screen-lg){
			            	font-size: 1.8rem;
			            	line-height: 2rem;
			            	font-weight: 600;
			            	margin: 40px 0 35px;
		            	}
		            }
		        }
		        .post-author{
		        	display: none;
		        	@media screen and (min-width: $screen-md){
		        		font-size: 1rem;
						display: block;
						margin:10px;
		        	}
		        	span{
						display: inline-block;
		        	}
		        	a{
						display: inline-block;
						color: $black;	
						font-style: italic;
						font-weight: bold;
		        	}
		        }
                ul{
                    &.article-social-links{
                        text-align: left;
                        z-index: 1;
                        margin-top: 10px;
                        &.active-on{
                            @media screen and (min-width: $screen-sm){
                                margin-right: 80px;
                            }
                            @media screen and (min-width: $screen-md){
                                margin-right: 160px;
                                display: inline-block;
                            }
                            .sprite-social-article{
                                display: none;
                                @media screen and (min-width: $screen-md){
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
	            .sprite{
	            	display: none;
	            	@media screen and (min-width: $screen-md){
	            		display: inline-block;
	            		margin: 10px 0;
	            	}
	            }
            }
	    }
	}
}
.social-wrapper{
    visibility: hidden;
}
main{
    &.main-index, &.main-single, &.main-category, &.main-page, &.main-author, &.main-404{
        position: relative;
    }
    left: 0;
    &>.site-inner, .single .site-inner, .page .site-inner{
        padding: 20px;
    }
}
.hidden, .no-elletv{
    display: none !important;
}

