@import "import/import.reset.scss";
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Elle Gabor Std';
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.eot');
    src: url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.woff') format('woff'),
        url('../wp-content/themes/ellev2017/fonts/ElleGaborStd-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
$white:#fff;
$black:#000;
$lightgrey:#cdcdcd;
$vlightgrey:#f2f2f2;
$middlegrey:#7f7f7f;
$red: #f1272b;
$font2: Elle Gabor Std, sans-serif;
$screen-sm: 480px; 
$screen-md: 640px;
$screen-lg: 1050px;         
body{
    header{
        text-align: center;
        height: 42px;
        background: $white;
        padding: 5px 0;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid $lightgrey;
        z-index: 400;
        width: 100%;
        @media screen and (min-width: $screen-sm){
            height: 64px;
            padding: 0;
        }
        @media screen and (min-width: $screen-md){
            position: relative;
            height: 154px;
            padding-bottom: 0px
        }
        @media screen and (min-width: $screen-lg){
            height: 164px;
        }
        .site-inner{
            //background: pink;
            .site-logo{
                margin: 0 auto;
                &.sprite{
                    background: url("https://www.elle.be/img/icons/elle_2018_sprite.svg") no-repeat;          
                    background-size: 500px 700px;
                    transition: none;
                    display: block;
                    background-position: 0px -33px;
                    width: 94px;
                    height: 32px;
                    @media screen and (min-width: $screen-sm){
                        width: 172px;
                        height: 64px;
                        background-position: 0 -335px;
                        margin-top: 5px;
                    }
                    @media screen and (min-width: $screen-md){
                        width: 230px;
                        height: 80px;
                        background-position: 0 -420px;
                        top: 25px;
                        position: relative;
                    }
                }
            }
       }
    }
    #container{
        max-width: 500px;
        margin: 0 auto;
        font-size: 0;
        vertical-align: top;
        margin-top: 80px;
        @media screen and (min-width: $screen-sm){
            margin-top: 140px;
        }
        @media screen and (min-width: $screen-md){
            margin-top: 60px;
        }
        div{
            display: inline-block;
            position: relative;
            width: 100%;
            &.top{
                // &:after{
                //     content:"";
                //     display: block;
                //     border: 2px solid $black;
                //     width: calc(50% - 25px);
                //     position: absolute;
                //     top: 40px;
                //     left: 40px;
                //     height: 86%;
                //     z-index: -1;
                //     @media screen and (min-width: $screen-sm){
                //         height: 90%;
                //     }
                // }
                #fr{ 
                    vertical-align: top;
                    display: inline-block;
                    background: yellow;
                    opacity: .8;
                    margin-top: 5%;
                    margin-left: 5%;
                    width: 50%;
                    padding-top: 50%;
                    //margin-top: 44%;
                    text-align: center;
                    &:after{
                        content:"";
                        display: block;
                        border: 2px solid $black;
                        width: 80%;
                        height: 80%;
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        z-index: -1;
                        @media screen and (min-width: $screen-sm){
                        }
                    }
                    a{
                        top: 35%;
                        width: 100%;
                        display: block;
                        text-decoration: none;
                        position: relative;
                        font-family: $font2;
                        font-size: .9rem;
                        line-height: 1.1rem;
                        color: $black;
                        text-transform: uppercase;
                        @media screen and (min-width: $screen-md){
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                            &:hover{
                                color: $red;
                            }
                        }
                        div{
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top:0;
                            span{
                                font-weight: bold;
                                display: block;
                            }
                        }
                    }
                }
                .img-fr{
                    max-width: 45%;
                    display: inline-block;
                    background: pink;
                    //width: calc(40% - 30px);
                    width:45%;
                    //margin-left: 30px;
                    margin-bottom: 30px;
                    img{
                        width: 100%;
                        max-width: 100%;
                        display: block;   
                    }          
                }
            }
            &.bottom{
                display: none;
            }
            // &.bottom{
            //     &:after{
            //         content:"";
            //         display: block;
            //         border: 2px solid $black;
            //         width: calc(50% - 25px);
            //         position: absolute;
            //         bottom: 40px;
            //         right: 40px;
            //         height: 86%;
            //         z-index: -2;
            //         @media screen and (min-width: $screen-sm){
            //             height: 90%;
            //         }
            //     }
            //     .img-nl{
            //         width: calc(50% - 30px);
            //         margin-top: 30px;
            //         margin-right: 20px;
            //         @media screen and (min-width: $screen-sm){
            //             margin-top: 30px;
            //             margin-right: 30px;
            //         }
            //         img{
            //             width: 100%;
            //             display: block;
            //         }
            //     }
            // }
            // &.top, &.bottom{
            //     position: relative;
            //     #fr{
            //         text-align: right;
            //         padding-top: 30%;
            //         @media screen and (min-width: $screen-md){
            //             padding-top: 25%;
            //         }
            //         a{
            //             cursor: pointer;
            //             width: 78%;
            //             display: block;
            //             @media screen and (min-width: $screen-md){
            //             }
            //         }
            //     }
            //     #nl{
            //         padding-top: 10%;
            //         text-align: left;
            //         @media screen and (min-width: $screen-md){
            //             padding-top: 15%;
            //         }
            //         a{
            //             cursor: pointer;
            //             width: 78%;
            //             display: block;
            //             @media screen and (min-width: $screen-md){
            //             }
            //         }
            //     }
            //     #fr, #nl{
            //         text-align: center;
            //         vertical-align: top;
            //         width: 50%;
            //         position: absolute;
            //         a{
            //             text-decoration: none;
            //             font-family: $font2;
            //             font-size: .9rem;
            //             line-height: 1.1rem;
            //             color: $black;
            //             text-transform: uppercase;
            //             @media screen and (min-width: $screen-md){
            //                 font-size: 1.2rem;
            //                 line-height: 1.6rem;
            //                 &:hover{
            //                     color: $red;
            //                 }
            //             }
            //             span{
            //                 font-weight: bold;
            //                 display: block;
            //             }
            //         }
            //     }
            // }
        }
    }
}