//ELLE Active Forum 2019
//Programme
.event_eaf_main{
    display: block;
    background: $white;
    font-size: 0;
    text-align: center;
    .events_jours{
        display: block;
        margin-bottom: 100px;
        .events_jours_titre{
            display: block;
            font-size: 1.2rem;
            margin: 30px 0;
            padding-bottom: 20px;
            border-bottom: 8px solid $redeaf;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font2;
            @media screen and (min-width: $screen-md){
                font-size: 1.4rem;
                margin: 50px 0;
            }
        }
    }
    .events_salle{
        display: inline-block;
        width: calc(100% - 20px);
        vertical-align: top;
        box-shadow: 5px 6px 22px 0px rgba(0, 0, 0, 0.1); 
        margin: 20px 10px;
        padding: 20px 0;
        @media screen and (min-width: $screen-md){
            width: calc(50% - 20px);
            margin: 20px 10px;
        }
        @media screen and (min-width: $screen-lg){
            width: calc(25% - 20px);
        }
        .events_salle_nom{
            display: block;
            font-size: 1.2rem;
            text-align: center;
            text-transform: uppercase;
            //margin-bottom: 5px;
            font-family: $font1;
            font-weight: 600;
        }
        .events_salle_nombre_place{
            display: block;
            font-size: .8rem;
            line-height: .8rem;
            text-align: center;
            color: $redeaf;
            text-transform: uppercase;
            font-family: $font1;
            margin-bottom: 15px;
        }
        .programme{
            padding:10px 10px;
            display: block;
            vertical-align: top;
            margin-left: 15px;
            position: relative;
            text-align: right;
            //cursor: pointer;
            &:before{
                content: "";
                display: block;
                background: $black;
                width: 1px;
                height: 100%;
                margin-right: 20px;
                position: absolute;
                left: 0;
                top: 0;
            }
            &.active-on{
                // .programme_heure{
                //     color: $redeaf !important;
                // }
                .programme_intervenant{
                    a{
                        color: $redeaf;
                    }
                }
                .programme-hide{
                    display: block;
                }
                .programme_heure{
                    &:before{
                        background: $redeaf;
                    }
                }
            }
            // @media screen and (min-width: $screen-md){
            //     &:hover{
            //         opacity: .6;
            //     }
            // }
            .programme_heure{
                display: inline-block;
                width: 30px;
                text-align: left;
                font-size: .9rem;
                line-height: .9rem;
                //font-style: italic;
                vertical-align: top;
                font-weight: bold;
                margin-bottom: 10px;
                cursor: pointer;
                &:before{
                    content: "";
                    display: inline-block;
                    background: $black;
                    width: 7px;
                    height: 7px;
                    border-radius: 5px;
                    position: absolute;
                    margin-right: 20px;
                    left: -3px;
                   top: 12px;
                }
                &.active-on{
                    color: $redeaf !important;
                }
            }
            .programme_intervenant{
                display: inline-block;
                width: calc(100% - 30px);
                text-align: right;
                font-size: .9rem;
                line-height: .9rem;
                vertical-align: top;
                margin-bottom: 10px;
                //font-style: italic;
                font-weight: bold;
                text-decoration: none;
            }
            .programme_sujet{
                font-size: .85rem;
                line-height: .9rem;
                text-transform: uppercase;
                display: inline-block;
                cursor: pointer;
                //width: calc(100% - 60px);
                width: 100%;
                text-align: left;
                vertical-align: top;
                margin-bottom: 20px;
                @media screen and (min-width: $screen-md){
                    &:hover{
                        opacity: .6;
                    }
                }
            }
            .programme_intervenant{
                a{
                    display: inline-block;
                    width: calc(100% - 50px);
                    text-align: right;
                    font-size: .9rem;
                    font-style: italic;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            .programme-hide{
               display: none;
                text-align: left;
                margin: 10px 10px 0 10px;
                .programme_sujet{
                    font-size: .85rem;
                    line-height: .9rem;
                    text-transform: uppercase;
                    display: inline-block;
                    width: calc(100% - 60px);
                    vertical-align: top;
                    margin-bottom: 10px;
                }
                .programme_duree{
                    display: inline-block;
                    font-size: .9rem;
                    line-height: .9rem;
                    vertical-align: top;
                    width: 60px;
                    text-align: right;
                    &:before{
                        content:"";
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin: 0 5px;
                        background: url($url_sprite) no-repeat;          
                        background-size: 500px 1200px;
                        background-position: -335px -372px;
                    }
                }
                .programme_description{
                    display: block;
                    font-size: .9rem;
                    line-height: 1rem;
                    &>span{
                        display: block;
                        margin-bottom: 10px;
                    }
                    ul{
                        margin: 0;
                        margin-top: 5px;
                        list-style: none;
                        li{
                            margin: 0;
                            font-size: .9rem;
                            line-height: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
.cta-eaf{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
    font-family: $font1;
    margin:0 auto;
    color: $white !important;
    text-align: center;
    background: $redeaf;
    display: inline-block;
    width: auto;
    padding: 10px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    @media screen and (min-width: $screen-md) {
        font-size: 1.3rem;
        line-height: 1.6rem;
        //margin-bottom: 30px;
        &:hover{
            opacity: .8;
        }
    }
}
//Speakers
.speakers_eaf_main{
    border-bottom: 4px solid $redeaf;
    display: block;
    .post-thumbnail{
        display: block;
        margin-bottom: 20px;
        text-align: right;
        img{
            display: block;
            max-width: 100%;
        }
    }
    .post-title{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        font-family: $font1;
        text-align: right;
        color: $black;
        @media screen and (min-width: $screen-lg) {
            font-size: 1.6rem;
        }
    }
    .fonction{
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: right;
    }
    .description{
        font-size: 1.2rem;
        text-align: justify;
    }
    .social-links{
        margin: 20px 0;
        text-align: right;
        .link_facebook, .link_siteweb, .link_linkedin{
            display: inline-block;
            width: 34.5px;
            height: 35px;
            cursor: pointer;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .link_facebook{
            background-position: 0px -895px;
            @media screen and (min-width: $screen-md) {
                &:hover{
                    background-position: 0px -930px;
                }
            }
        }
        .link_siteweb{
            margin-right: 10px;
            background-position: -35px -895px;
            @media screen and (min-width: $screen-md) {
                &:hover{
                    background-position: -35px -930px;
                }
            }
        }
        .link_linkedin{
            background-position: -70px -895px;
            @media screen and (min-width: $screen-md) {
                &:hover{
                    background-position: -70px -930px;
                }
            }
        }
    }
}
.single-eaf{
    .entry-content{
        border-bottom: 4px solid $redeaf !important;
    }
    .speakers_eaf_main{
        display: block;
        margin: 0 auto; 
        border: none;
        max-width: 292px;
        @media screen and (min-width: $screen-md) {
            max-width: none;
        }
        .post-thumbnail{
            text-align: center;
            @media screen and (min-width: $screen-md) {
                display: block;
                margin: 0 auto 20px;
                img{
                    margin: 0 auto;
                }
            }
        }
        .post-title, .fonction{
            @media screen and (min-width: $screen-md) {
                text-align: center;
            }
        }
    }
}
.main-category-eaf{
    .content{
        width: 100% !important;
    }
    .speakers_eaf_main{
        width: 100%;
        max-width: 292px;
        margin: 0 auto 50px;
        display: block;
        @media screen and (min-width: $screen-md) {
            width: calc(32% - 40px);
            margin: 20px; 
            display: inline-block;
            max-width: none;
            margin-bottom: 50px;
        }
        &:last-child{
            margin-bottom: 0px;
        }
        .post-thumbnail{
            margin-bottom: 20px;
            @media screen and (min-width: $screen-md) {
                margin-bottom: 30px;
                display: block;
            }
        }
        .description{
            display: none;
        }
    }
}