$white:#fff;
$black:#000;
$lightgrey:#cdcdcd;
$vlightgrey:#f2f2f2;
$middlegrey:#7f7f7f;
$blue: #0056a1;
$red: #f1272b;
$redeaf: #bd2e22;

$url_sprite: "../img/icons/elle_2018_sprite.svg?v=02072018";
// Fonts

// Serif
$font1: Interstate, serif;
// Sans serif
$font2: Elle Gabor Std, sans-serif;

// small device
$screen-sm: 480px; 
// medium device
$screen-md: 640px;
// large device
$screen-mdd: 960px;
// very large device
$screen-lg: 1050px;                                                                               
$header-height: 42px;
$header-height-light: 51px;
$header-height-sm: 64px;
$header-height-md: 124px;